@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-800;
}

@font-face {
  font-family: 'Rick';
  src: url('../fonts/getSchwifty.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
