@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-800;
}

@font-face {
  font-family: 'Rick';
  src: url('../fonts/getSchwifty.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-rick {
  color: #3ee2e8;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000,
    1px -1px #000, -1px 1px #000, 3px 0 4px #66b366, -3px 0 4px #66b366, 0 3px 4px #66b366,
    0 -3px 4px #66b366, 2px 2px 4px #66b366, -2px -2px 4px #66b366, 2px -2px 4px #66b366,
    -2px 2px 4px #66b366;
}

.slide-up {
  animation: slide-up 0.4s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
